#hero-banner {
    background-image: 
        linear-gradient(94deg, rgba(16,13,14,0.7887605725884104) 0%, rgba(24, 24, 24, 0.749) 50%, rgba(255,255,255,0) 100%),
        url(/src/assets/todos_donuts.jpg);
    background-size: cover;
    background-position-y: 40%;
    height: 35rem;

    border-radius: 20px;

    .text-hero{
        width: 50em;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 7em;

        h1, span{
            font-family: 'Fredoka', 'Poppins', sans-serif;
            font-size: 4rem;
            color: #FFF;
        }

        p{
            color: #FFF;
            font-size: 1.3rem;
        }

        span{
            color: var(--color--text-pink);
        }
    }

}
